In [1]:
!wget https://raw.githubusercontent.com/data-science-pdx/playground/master/detector_metadata.csv

--2020-07-01 00:06:35--  https://raw.githubusercontent.com/data-science-pdx/playground/master/detector_metadata.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27384 (27K) [text/plain]
Saving to: ‘detector_metadata.csv.1’

detector_metadata.c 100%[===================>]  26.74K  --.-KB/s    in 0.01s

2020-07-01 00:06:36 (1.97 MB/s) - ‘detector_metadata.csv.1’ saved [27384/27384]

In [2]:
!wget https://raw.githubusercontent.com/data-science-pdx/playground/master/station_metadata.csv

--2020-07-01 00:06:37--  https://raw.githubusercontent.com/data-science-pdx/playground/master/station_metadata.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 32890 (32K) [text/plain]
Saving to: ‘station_metadata.csv.1’

station_metadata.cs 100%[===================>]  32.12K  --.-KB/s    in 0.01s

2020-07-01 00:06:37 (2.29 MB/s) - ‘station_metadata.csv.1’ saved [32890/32890]

In [3]:
import numpy as np
import pandas as pd

In [4]:
detector_dataset = pd.read_csv("/content/detector_metadata.csv")
station_dataset = pd.read_csv("/content/station_metadata.csv")

In [5]:
print(detector_dataset.columns.values)

['detectorid' 'stationid' 'milepost' 'lanenumber']

In [6]:
print(station_dataset.columns.values)

['stationid' 'milepost' 'locationtext' 'length' 'x_coord' 'y_coord']

In [7]:
detector_dataset.head()

   detectorid  stationid  milepost  lanenumber
0      102017       5207     36.15           1
1      102018       5207     36.15           2
2      102019       5208     36.15           1
3      102020       5208     36.15           2
4      101766      10347      0.00           2

In [8]:
station_dataset.head()

   stationid  milepost  ...     x_coord   y_coord
0       5208     36.15  ... -122.640267  45.71191
1       3154      0.25  ... -122.780430  45.50622
2      10522    304.40  ... -122.678140  45.56172
3      10285      6.70  ... -122.558890  45.54448
4      10358      5.82  ... -122.565900  45.53213

[5 rows x 6 columns]

In [9]:
station_dataset.describe()

          stationid    milepost      length     x_coord     y_coord
count    515.000000  515.000000  514.000000  515.000000  515.000000
mean    5147.266019   70.117165    2.614922 -122.583641   45.494298
std     4242.442043  105.434393   13.263467    0.534833    0.471516
min      230.000000    0.000000    0.090000 -123.160360   42.008730
25%     1140.500000    5.015000    0.500000 -122.742010   45.435510
50%     3137.000000   16.200000    0.735000 -122.664433   45.528880
75%    10398.500000   70.945000    1.003750 -122.566690   45.612335
max    10607.000000  307.920000  150.135000 -117.817060   46.765581

In [13]:
station_dataset.join(detector_dataset, lsuffix='_station', rsuffix='_detector')

     stationid_station  milepost_station  ... milepost_detector  lanenumber
0                 5208             36.15  ...             36.15           1
1                 3154              0.25  ...             36.15           2
2                10522            304.40  ...             36.15           1
3                10285              6.70  ...             36.15           2
4                10358              5.82  ...              0.00           2
..                 ...               ...  ...               ...         ...
510               1526              4.32  ...             14.40           2
511               1641             33.45  ...             14.40           1
512               1639             31.53  ...             13.04           3
513               1536             34.81  ...             13.04           2
514               1537             35.62  ...             13.04           1

[515 rows x 10 columns]

In [14]:
dataset = station_dataset.join(detector_dataset, lsuffix='_station', rsuffix='_detector')

In [15]:
dataset.to_csv("/content/merged_metadata.csv")